<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Examine>
    <ExamineLuceneIndexSets>
      <IndexSet SetName="portableNodeIndexset" IndexPath="~/App_Data/portableNodeIndexset" />
    </ExamineLuceneIndexSets>
    <providers>
      <ExamineIndexProviders>
        <add name="portableNodeIndexer" type="Tapas.PortableNodeIndexer" dataService="" indexTypes="PortableNode" />
      </ExamineIndexProviders>
    </providers>
    <ExamineSearchProviders defaultProvider="mySearcher">
      <providers>
        <add name="portableNodeSearcher" type="Examine.LuceneEngine.Providers.LuceneSearcher, Examine" />
      </providers>
    </ExamineSearchProviders>
  </Examine>
</configuration>